$color-yellow-10: #FFF5CC;
$color-yellow-20: #FFEB9A;
$color-yellow-30: #FFE167;
$color-yellow-40: #FFD735;
$color-yellow-50: #FFCD02;
$color-yellow-60: #E6B902;
$color-yellow-70: #CCA402;
$color-yellow-80: #997B01;
$color-yellow-90: #665201;
$color-yellow-100: #332900;

$color-blue-10: #D6D6EC;
$color-blue-20: #ADADD9;
$color-blue-30: #8583C5;
$color-blue-40: #5C5AB2;
$color-blue-50: #33319F;
$color-blue-60: #2E2C8F;
$color-blue-70: #29277F;
$color-blue-80: #1F1D5F;
$color-blue-90: #141440;
$color-blue-100: #0A0A20;

$color-pink-10: #FEF5F3;
$color-pink-20: #FCEBE7;
$color-pink-30: #FBE1DC;
$color-pink-40: #F9D7D0;
$color-pink-50: #F8CDC4;
$color-pink-60: #DFB9B0;
$color-pink-70: #C6A49D;
$color-pink-80: #957B76;
$color-pink-90: #63524E;
$color-pink-100: #322927;

$color-neutrals-10: #ffffff;
$color-neutrals-20: #FEFCFB;
$color-neutrals-30: #FCF8FD;
$color-neutrals-40: #FAF5F0;
$color-neutrals-50: #E1DDD8;
$color-neutrals-60: #C8C4C0;
$color-neutrals-70: #969390;
$color-neutrals-80: #646260;
$color-neutrals-90: #212121;
$color-neutrals-100: rgba(0, 0, 0, 0.5);

$color-violet-50: #6F2D7A;
$color-red-50: #ea4c48;
$color-red-orange-50: #c74607;
$color-red-orange-40: #F0827F;
$color-orange-50: #F8783A;
$color-yellow-orange-50: #F19F00;
$color-light-green-50: #8BA912;
$color-green-50: #375D07;
$color-blue-green-50: #6CC3B4;



